# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Virtual Environment
# ===============================
venv/
.venv/
ENV/

# ===============================
# Dataset
# ===============================
AI-PoweredRetailShelfEngagementAnalytics-dataset/

# ===============================
# Uploaded Videos
# ===============================
input/
uploads/
uploaded_videos/

# ===============================
# Output Files
# ===============================
output/

# ===============================
# YOLO Model
# ===============================
yolov8*.pt

# ===============================
# Images
# ===============================
*.png
*.jpg
*.jpeg

# ===============================
# CSV Files
# ===============================
*.csv

# ===============================
# Videos
# ===============================
*.mp4
*.avi
*.mov

# ===============================
# Streamlit
# ===============================
.streamlit/secrets.toml